---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/sections/Hero.astro";
---

<BaseLayout
	title="Curvas Sanitarias PVC Honduras | EQUIPROH"
	description="Líderes en curvas sanitarias PVC en Honduras. Perfiles higiénicos para cuartos fríos."
>
	<Hero />
	<h1 style="padding: 4rem 2rem;">Hola desde EQUIPROH 👋</h1>
</BaseLayout>
